<div class="container">
  
    <div class="item board">
        <div class="sss" *ngFor="let i of iter; let ix = index">
            <div *ngIf="getWall(ix)==1">
                <img class="walls" src="../../assets/wall.jfif">
            </div>
            <!-- <div *ngIf="getWall(ix)==0">
                <img class="walls" src="../../assets/grass.jpg">
                
            </div> -->
            <div class="stuffC" *ngIf="getStuff(ix)==9">
                <img class="char" [src]="charState">
            </div>
            <div class="stuff" *ngIf="getStuff(ix)==1">
                <img class="wumpus" src="../../assets/wumps.webp">
            </div>
            <div class="stuff" *ngIf="getStuff(ix)==2">
                <img class="wumpus" src="../../assets/hole.png">
            </div>
            <div class="stuff" *ngIf="getFeeling(ix)==1">
                <div class="wumpus2">Smell</div>
            </div>
            <div class="stuff" *ngIf="getFeeling(ix)==2">
                <div class="wumpus2">Breeze</div>            </div>
            <div class="stuff" *ngIf="getFeeling(ix)==3">
                <div class="wumpus2">Breeze + Smell</div>
            </div>
            <!-- <div class="stuff" *ngIf="getStuff(ix)==3">
                <div class="wumpus2">Coin</div>
            </div> -->
            <div class="stuff" *ngIf="getStuff(ix)==3">
                <img class="wumpus" src="../../assets/coin.png">
            </div>
            
            
            <!-- <p>d</p> -->
        
      
          </div>
          
    </div>
    <div class="item mind">
        <div class="itembtnbg1"><div class="txt"></div></div>
        <div class="txt1">Coin: {{coin}}</div>
        <div class="txt1">Score: {{score}}</div>
        <div class="txt1">Current: {{currX}} {{currY}}</div>

        <div class="dd" *ngFor="let idx of knowledgeBase; let ix1 = index">
            <div class="sd">(x,y)=({{knowledgeBase[ix1].Second.First}} 
                {{knowledgeBase[ix1].Second.Second}})
                risk= {{knowledgeBase[ix1].First.First}}
                distance= {{knowledgeBase[ix1].First.Second}}
            </div>
        </div>
    </div>
    <div class="item board">
        <div class="sss" *ngFor="let i of iter; let ix = index">
            <!-- <div *ngIf="getWall(ix)==0">
                <img class="walls" src="../../assets/grass.jpg">
                
            </div> -->
            <div class="stuffC" *ngIf="getStuff(ix)==9">
                <img class="char" [src]="charState">
            </div>
            <div class="stuff" *ngIf="getStuff2(ix)==1">
                <img class="wumpus" src="../../assets/wumps.webp">
            </div>
            <div class="stuff" *ngIf="getStuff2(ix)==2">
                <img class="wumpus" src="../../assets/hole.png">
            </div>
            <div class="stuff" *ngIf="getFeeling2(ix)==1">
                <div class="wumpus2">Smell</div>
            </div>
            <div class="stuff" *ngIf="getFeeling2(ix)==2">
                <div class="wumpus2">Breeze</div></div>
            <div class="stuff" *ngIf="getFeeling2(ix)==3">
                <div class="wumpus2">Breeze + Smell</div>
            </div>
            <!-- <div class="stuff" *ngIf="getStuff2(ix)==3">
                <div class="wumpus2">Coin</div>
            </div> -->
            <div class="stuff" *ngIf="getStuff2(ix)==3">
                <img class="wumpus" src="../../assets/coin.png">
            </div>
            <!-- <p>d</p> -->
        
      
          </div>
          
    </div>
    <!-- <div class="item scrboard"></div> -->
</div>
